<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainSearchPage</servlet-name>
        <servlet-class>Views.MainSearchPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultsPage</servlet-name>
        <servlet-class>Views.ResultsPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuildIndexPage</servlet-name>
        <servlet-class>Views.BuildIndexPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainSearchPage</servlet-name>
        <url-pattern>/MainSearchPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainSearchPage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultsPage</servlet-name>
        <url-pattern>/ResultsPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuildIndexPage</servlet-name>
        <url-pattern>/BuildIndexPage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
